.App {
  text-align: center;
}

.main {
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.array-container {
  width: 80vw;
  height: 75vh;
  flex-direction: row;
  display: flex;
}
.item {
  width: 10%;
}
