.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--primary);
}

.main {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin-top: 2vh;
  justify-content: space-around;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  background-color: blueviolet;
  flex-direction: row;
  display: flex;
}
.array-container {
  width: 80vw;
  flex-direction: row;
  display: flex;
  height: 100%;
}
.item {
  width: 10%;
}
.MuiButton-root {
  margin: 10px !important;
  float: right;
}
.MuiTab-root {
  color: white !important;
}
.MuiTabs-indicator {
  background-color: cornsilk !important;
}
.MuiInputLabel-root {
  color: cornsilk;
}
.MuiOutlinedInput-notchedOutline {
  border-color: #ccc !important;
}
.MuiSelect-icon {
  color: #ccc !important;
}
.MuiTypography-root {
  color: white;
}
